POSTGRES_DB=viptop
POSTGRES_USER=viptop
POSTGRES_PASSWORD=viptop
DATABASE_URL=postgresql+psycopg://viptop:viptop@db:5432/viptop
BIN_SYNC_SOURCE_URL=https://opencity.idvilnius.lt/gis/rest/services/Miesto_tvark/Miesto_tvarkymas_public/MapServer/29/query?f=geojson&resultOffset=0&resultRecordCount=50&where=1%3D1&outFields=%2A&returnGeometry=true&outSR=4326&spatialRel=esriSpatialRelIntersects
BIN_SYNC_HTTP_TIMEOUT_SECONDS=30
